<a href="https://colab.research.google.com/github/seungtaemoon/ds-admission-challenge/blob/master/Admission_Challenge_%EB%AC%B8%EC%8A%B9%ED%83%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [152]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

print(list_01[1]) #리스트는 인덱스가 0 부터 시작하므로, 1을 써야 2번째 요소를 볼 수 있다.

John

리스트 안에 리스트가 하나 더 있다고 생각하면 된다. 이 순간에는 열(row)과 행(column)의 개념이 있는 어레이(array)가 된다. 즉, 이 리스트는 1번째(0) 열의 2번째(1) 행의 요소이다.

In [153]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George']]

print(list_02[0][1])

John

아래 질문에 대해서는 제가 진환님께 최근에 배운 list comprehension 을 사용하여 for loop문과 함께 Custom 로직을 통해 문제를 해결해보려 하였습니다.

In [154]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 
 
# for loop을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요

# Custom 로직을 사용하여 4가 있는지를 체크하는 법
# 첫번째 리스트 체크
result = any(i == 4 for i in list_01) 
if result == True: # 4가 있다고 판단되는 경우
  print("This list has 4") # "이 리스트는 4를 포함"
else: # 4가 없을 경우
  print("This list has no 4") # "이 리스트는 4를 포함하지 않음"

#두번째 리스트 체크
result = any(i == 4 for i in list_02)
if result == True: # 4가 있다고 판단되는 경우
  print("This list has 4") # "이 리스트는 4를 포함"
else: # 4가 없을 경우
  print("This list has no 4")  # "이 리스트는 4를 포함하지 않음"

This list has 4
This list has no 4

아래 질문에서는 for loop를 사용하기 보다, 함수안에 if 문만을 사용하여 코드를 단순화 해보는데 주력해 보았습니다.

In [155]:
# 위 코드 역할을 하는 함수를 작성해 보세요


def checker(list):
  if 4 in list: # 4가 리스트에 있는 경우
      print("This list has 4") # "이 리스트는 4를 포함"
  else: # 4가 없을 경우
      print("This list has no 4") # "이 리스트는 4를 포함하지 않음"     

checker(list_01)
checker(list_02)

This list has 4
This list has no 4

In [156]:
list_03 = [4, 5, 8, 9, 10] 
# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요. 

counter = 0 # 개수를 세기 위한 카운터를 초기화
for i in list_03: 
  if i > 8: # 리스트의 요소가 8보다 클 경우
    counter += 1 # 카운터를 하나 센다
  else: # 리스트의 요소가 8보다 작을 경우
    pass # 다음 요소로 다시 루프를 돈다. 

print(counter)

2

아래 문제에서는 어떤 이유인지 모르겠으나, np.where가 실행되지 않습니다. 라이브 코딩과 똑같은 방법을 시도해 보았으나, 알 수 없는 에러메시지가 계속되어 해당 질문은 간단한 for 문을 사용하여 해결하기로 하였습니다.

In [157]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요

import numpy as np # numpy의 사용을 위한 라이브러리를 가져온다

# 키와 몸무게를 이용한 연산을 위해 numpy 상의 array로 변형시킨다
height_bmi = np.array(height) 
weight_bmi = np.array(weight)

# Body-Mass Index (BMI) 를 계산한다
bmi = weight_bmi / height_bmi ** 2

# 보기 좋게 값이 높은 순서대로 재정렬한다
bmi = sorted(bmi, reverse=True)

# 정렬된 BMI 리스트를 보여준다 
print(bmi)

# bmi 가 24 이상인 값들만 선택해 보세요

bmi_24 = [] # BMI가 24 이상인 데이터들만 추리기 위한 새로운 리스트 초기화 
for i in bmi:
  if i >= 24: # 요소가 24 이상일 경우
    bmi_24.append(i) # 새로운 리스트에 업데이트 한다

print(bmi_24) # 새로운 리스트에 업데이트된 BMI가 24 이상인 데이터만 보여준다

[28.755585074266392, 27.887557550973714, 25.843681519357194, 25.48723993311587, 23.87257617728532, 23.349252194801107]
[28.755585074266392, 27.887557550973714, 25.843681519357194, 25.48723993311587]

아래 질문에서는 진환님이 하셨던 것처럼 (0,1) 보다 (A, B)의 인덱스를 차용하는 것이 조금 더 의미있다고 판단되었습니다.

In [158]:
# pandas 패키지 라이브러리를 불러오세요
import pandas as pd

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
# {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}

# pandas 를 사용하여 데이터 프레임을 만들기
data = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}, index = ["A", "B"])
print(data)

             Bob           Sue
A    I liked it.  Pretty good.
B  It was awful.        Bland.

이하 부터는 좀 더 깔끔한 프레젠테이션을 위해 선을 그어 각 부분의 답을 나누어보려 하였습니다.

In [159]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""

# 데이터 프레임 만들기
data = {"year": [2015, 2016, 2017], "dept": ["Sales", "Sales", "Sales"], "revenue": [30, 35, 40]}
data = pd.DataFrame(data) 
data = data.set_index("year") # 인덱스를 년도 값으로 재설정하기

print(data)

# 2017년 데이터만 선택해 보세요
print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

data_2017 = data.loc[2017] # 인덱스가 2017년인 데이터만 불러오기
print(data_2017)

# 조건(condition)을 활용하여 revenue 35 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html 
# (revenue가 35 이상인 데이터만 불러오기)

print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

new_data = data[data["revenue"] >= 35] # revenue가 35 이상인 데이터만 불러오기
print(new_data)

       dept  revenue
year
2015  Sales       30
2016  Sales       35
2017  Sales       40
_______________________________
dept       Sales
revenue       40
Name: 2017, dtype: object
_______________________________
       dept  revenue
year
2016  Sales       35
2017  Sales       40

In [160]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요 

titanic = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv') # titanic csv 파일 읽기
titanic = pd.DataFrame(titanic) # 타이타닉 csv 데이터를 DataFrame으로 만들기
print(titanic)

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

아래 문제에서는, 남녀 생존자의 수를 shape기능을 이용하여 나타내보았고, 그 수들의 차이를 표현해보려 하였습니다.

In [161]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 
print(titanic.shape)
print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요
print(titanic[9:20])
print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요
titanic_new = titanic[["Survived", "Age", "Sex"]]
print(titanic_new)
print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

# 타이타닉 데이터에서 생존자 데이터만 골라보세요
print(titanic[titanic["Survived"] == 1])
print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

titanic_survived = titanic_new[titanic_new["Survived"] == 1]
print(titanic_survived)
print("_______________________________") # 좀 더 깔끔한 프레젠테이션을 위해 부분 나누기

# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
male = titanic_survived[titanic_survived["Sex"] == "male"] # 생존자중 남성인 데이터만 부르기
print("The number of male survivors:", male.shape[0]) # 남성생존자의 수 프린트하기
female = titanic_survived[titanic_survived["Sex"] == "female"] # 생존자중 여성인 데이터만 부르기
print("The number of female survivors:", female.shape[0]) # 여성생존자의 수 프린트하기
if male.shape[0] > female.shape[0]: # 남성생존자의 수가 여성생존자의 수보다 큰 경우
  print("The number of male survivors are larger than that of the female") # "남성 생존자의 수가 여성 생존자의 수보다 많다"
  print("The number of male survivors are larger by", abs(male.shape[0] - female.shape[0])) # 남성 생존자의 수와 여성 생존자 사이의 차를 구하여 나타내기(절대값)
else: # 여성생존자의 수가 남성생존자의 수보다 큰 경우
  print("The number of female survivors are larger than that of the male") # "여성 생존자의 수가 남성 생존자의 수보다 많다"
  print("The number of female survivors are larger by", abs(female.shape[0] - male.shape[0]))  # 남성 생존자의 수와 여성 생존자 사이의 차를 구하여 나타내기(절대값)

(887, 8)
_______________________________
    Survived  Pclass  ... Parents/Children Aboard     Fare
9          1       2  ...                       0  30.0708
10         1       3  ...                       1  16.7000
11         1       1  ...                       0  26.5500
12         0       3  ...                       0   8.0500
13         0       3  ...                       5  31.2750
14         0       3  ...                       0   7.8542
15         1       2  ...                       0  16.0000
16         0       3  ...                       1  29.1250
17         1       2  ...                       0  13.0000
18         0       3  ...                       0  18.0000
19         1       3  ...                       0   7.2250

[11 rows x 8 columns]
_______________________________
     Survived   Age     Sex
0           0  22.0    male
1           1  38.0  female
2           1  26.0  female
3           1  35.0  female
4           0  35.0    male
..        ...   ...     ...
882         0  27.0    male
883         1  19.0  female
884         0   7.0  female
885         1  26.0    male
886         0  32.0    male

[887 rows x 3 columns]
_______________________________
     Survived  Pclass  ... Parents/Children Aboard     Fare
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
8           1       3  ...                       2  11.1333
9           1       2  ...                       0  30.0708
..        ...     ...  ...                     ...      ...
871         1       3  ...                       0   7.2250
875         1       1  ...                       1  83.1583
876         1       2  ...                       1  26.0000
883         1       1  ...                       0  30.0000
885         1       1  ...                       0  30.0000

[342 rows x 8 columns]
_______________________________
     Survived   Age     Sex
1           1  38.0  female
2           1  26.0  female
3           1  35.0  female
8           1  27.0  female
9           1  14.0  female
..        ...   ...     ...
871         1  15.0  female
875         1  56.0  female
876         1  25.0  female
883         1  19.0  female
885         1  26.0    male

[342 rows x 3 columns]
_______________________________
The number of male survivors: 109
The number of female survivors: 233
The number of female survivors are larger than that of the male
The number of female survivors are larger by 124