<a href="https://colab.research.google.com/github/Joongho-Lee/ds-admission-challenge/blob/master/Admission%20Challenge%20%EC%9D%B4%EC%A4%91%ED%98%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [1]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

#리스트의 두 번째 element를 선택. 1을 적은 이유는 파이썬은 0부터 시작하기 때문이다.
print(list_01[1])

John

In [2]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George']]

#하나의 리스트 이지만 그 리스트 여러 element가 있다. 먼저 리스트를 누르고 그 이후에 두 번째 요소를 누른다.
print(list_02[0][1])

John

In [214]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 

# for loop을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요
# 풀이1.break를 사용해서 목표하는 값이 나오면 루프를 정지하는 법
for a in list_01 :
  if 4 in list_01 :
    print('여기 4가 있다.')
    break
  else :
    print('여기 4가 없다.')
    break

# 풀이2. 간편한 if를 사용해서 숫자 찾기
# 리스트에 4가 있다면 4가 있다고 출력하라. 4가 없다면 4가 없다고 출력하라는 지시
if 4 in list_01:
   print('4가 있다.')
if 4 not in list_01:
   print('4가 없다.')

# 풀이3. count로 4를 세는 방식
# 리스트에서 4를 세고 만약 4가 있다면 카운트 값이 1 이상이기에 카운트 값이 1 이상이라면 4가 있다고 지정, 1미만이라면 4가 없다고 지정
if list_01.count(4) >= 1:
  print('4가 있다.')
else :
    print('4가 없다.')

#풀이4. 진환님 강의
# for loop을 돌리면서 count라는 변수를 완하는 조건이 성립되면 +1 값을 줘서 count라는 변수의 결과가 1이상이라면 원하는 문구를 출력하게 하는 방법
count = 0
for i in list_01 :
  if i == 4:
    count += 1
  if count > 0:
    print('4가 있다')
    break
  else :
    print('4가 없다')
    break

#For에 대한 이해도는 높아지지만 아직 함수를 만들어 내는 능력은 없다.

여기 4가 있다.
4가 있다.
4가 있다.
4가 없다

In [216]:
# 위 코드 역할을 하는 함수를 작성해 보세요.
def finding_4(list_in):
  for a in list_in:
    if 4 in list_in:
      print('여기 4가 있다.')
      break
    else:
      print('여기 4가 없다.')
      break

print(finding_4(list_01))
print(finding_4(list_02))
#목표한 값이 나왔지만 None이 발생하는 이유를 모름 검색이 필요.

여기 4가 있다.
None
여기 4가 없다.
None

In [215]:
list_03 = [4, 5, 8, 9, 10] 
# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요. 
#다시 한 번 for loop을 돌려서 8보다 큰 숫자가 있다면 count 변수가 1씩 +될 수 있도록 만들고 마지막에 그 카운트 값으로 갯수를 구하는법
count = 0
for i in list_03:
  if i > 8:
    count += 1
print(count, '개')

2 개

In [217]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요
# bmi 가 24 이상인 값들만 선택해 보세요

import numpy as np
np_height = np.array(height)
np_weight = np.array(weight)

bmi = np_weight / np_height ** 2
print(bmi)

bmi > 24
bmi[bmi > 24]
print(bmi[bmi>=24])

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]
[27.88755755 28.75558507 25.48723993 25.84368152]

In [67]:
# pandas 패키지 라이브러리를 불러오세요
import pandas as pd

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
# {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}

#기존의 풀이
frame = {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
brics = pd.DataFrame(frame)
print(brics)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

(3, 2)

       dept  revenue
2015  Sales       30
2016  Sales       35
2017  Sales       40

In [221]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""


#기존의 풀이 
Record_01 = {'dept' : ['Sales', 'Sales', 'Sales'], 
             'revenue' : [30, 35, 40]}
brics_01 = pd.DataFrame(Record_01)
brics_01.index = ["2015", "2016", "2017"]
print(brics_01)

# 2017년 데이터만 선택해 보세요
print(brics_01.loc['2017'])

# 조건(condition)을 활용하여 revenue 30 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html 

brics_01[brics_01.revenue > 30]

SyntaxError: ignored

In [ ]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요

In [123]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 

taitanic = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
taitanic.shape
# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요
print(taitanic.iloc[9:20])
# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요
taitanic[['Survived', 'Age', 'Sex']]
# 타이타닉 데이터에서 생존자 데이터만 골라보세요
print(taitanic[(taitanic.Survived == 1)])
# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html

Survived_rate = taitanic[(taitanic.Survived == 1)]
print(Survived_rate['Sex'].value_counts())

    Survived  Pclass  ... Parents/Children Aboard     Fare
9          1       2  ...                       0  30.0708
10         1       3  ...                       1  16.7000
11         1       1  ...                       0  26.5500
12         0       3  ...                       0   8.0500
13         0       3  ...                       5  31.2750
14         0       3  ...                       0   7.8542
15         1       2  ...                       0  16.0000
16         0       3  ...                       1  29.1250
17         1       2  ...                       0  13.0000
18         0       3  ...                       0  18.0000
19         1       3  ...                       0   7.2250

[11 rows x 8 columns]
     Survived  Pclass  ... Parents/Children Aboard     Fare
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
8           1       3  ...                       2  11.1333
9           1       2  ...                       0  30.0708
..        ...     ...  ...                     ...      ...
871         1       3  ...                       0   7.2250
875         1       1  ...                       1  83.1583
876         1       2  ...                       1  26.0000
883         1       1  ...                       0  30.0000
885         1       1  ...                       0  30.0000

[342 rows x 8 columns]
female    233
male      109
Name: Sex, dtype: int64