<a href="https://colab.research.google.com/github/sekwangoh/ds-admission-challenge/blob/master/DAY4_admission_Challenge_(bootcamp_admission_challenge).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [ ]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

list_01[1]

'John'

In [ ]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George']]

list_02[0][1]

'John'

In [48]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 
 
# for loop을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요

count = 0 
for i in list_01:
  if i == 4:
    count += 1
    if count == 1:
      print("4가 있네요!")  
  else:
      count += 1
      if count == len(list_02)-1: 
        print("4가 없네요!")  

   

count = 0 
for i in list_02:
  if i == 4:
    count += 1
    if count == 1:
      print("4가 있네요!")  
  else:
    count += 1
    if count == len(list_02)-1: 
      print("4가 없네요!")

4가 없네요!
4가 없네요!

In [57]:
# 위 코드 역할을 하는 함수를 작성해 보세요
count1 = 0
count2 = 0

def list_number(x):
  for i in x:
    if i == 4:
      count1 += 1
      if count1 == 1:
        print("4가 있네요!")  
    else:       
      count2 += 1
      if count2 == len(x)-1: 
        print("4가 없네요!")  

list_number(list_01)
list_number(list_02)

UnboundLocalError: ignored

In [61]:
list_03 = [4, 5, 8, 9, 10] 
# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요. 
count = 0
for i in list_03:
  if i > 8:
    count += 1
print("list element가 8보다 큰 수의 갯수는", count ,"이다.")

list element가 8보다 큰 수의 갯수는 2 이다.

In [63]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# print(np.version) 버전체크
import numpy as np

np_height = np.array([1.87,  1.87, 1.82, 1.91, 1.90, 1.85])
np_weight = np.array([81.65, 97.52, 95.25, 92.98, 86.18, 88.45])

print(np_)

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요

# bmi 가 24 이상인 값들만 선택해 보세요

[1.87, 1.87, 1.82, 1.91, 1.9, 1.85]

In [ ]:
# pandas 패키지 라이브러리를 불러오세요

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
# {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}

In [ ]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""


# 2017년 데이터만 선택해 보세요


# 조건(condition)을 활용하여 revenue 30 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html

'\nyear dept     revenue\n2015 Sales    30\n2016 Sales    35\n2017 Sales    40\n'

In [ ]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요

In [ ]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 

# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요

# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요

# 타이타닉 데이터에서 생존자 데이터만 골라보세요

# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html