<a href="https://colab.research.google.com/github/kroonstazy/ds-admission-challenge/blob/master/Day_4_%EC%9D%B4%EB%8F%99%ED%9B%88_ds_bootcamp_admission_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [ ]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

print(list_01[1])

In [ ]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George'], ['what', 'the','freak?'],['is','any','one','out','there?']]

print(list_02[1][1]) # "the" will print. list_02의 2번째 리스트/element의 2번째 element를 출력

the

In [6]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 


# count 함수(function) 와 for loop 을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요
  #is there a particular reason why do you want us to use the 'for...loop'?

#Method 1 : Using 'count' and 'for loop' (진환님 Method)
#I forget already. 

################################################################################

#Method 2 : 'Using native python count, (Using if...else method) I much prefer this style.' 
##Sometime you do need to use For...loop method!
l1 = list_01.count(4)
if l1 > 0 :
  print("list 1에는 4가 존재함")
else: print("list 1에는 4가 존재하지 않음")

l2 = list_02.count(4)
if l2 > 0 :
  print("list 2에는 4가 존재함")
else: print("list 2에는 4가 존재하지 않음")

################################################################################

#Method 3 : My first try (the condition use count was not given.
  #"for loop 을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요")

for i in list_01 :
    if 4 in list_01:
        print("Exist")
        break
    else :
        print("Does not Exist")
        break

for i in list_02 :
    if 4 in list_02:
        print("Exist")
        break
    else :
        print("Does not Exist")
        break
  
#this way for loop checks every elements of in each list, Throwing out bunch of text irrelavent to information.

################################################################################

list 1에는 4가 존재함
list 2에는 4가 존재하지 않음
Exist
Does not Exist

In [3]:
# 위 코드 역할을 하는 함수를 작성해 보세요
def proto():
l1 = list_01.count(4)   #list_01에서 4를 센다
if l1 > 0 : #l2가 0보다 크면 4를 센적이 있기 때문에 아래의 텍스트가 출력됨
  print("list 1에는 4가 존재함")
else: print("list 1에는 4가 존재하지 않음")

l2 = list_02.count(4) #list_02에서 4를 센다
if l2 > 0 : #l2가 0보다 크지 않으면, 4를 센적이 없으므로, 존재하지 않음.
  print("list 2에는 4가 존재함")
else: print("list 2에는 4가 존재하지 않음")

proto() # 앞으로 'proto()' 이 한줄만 입력하면, 위의 많은 line의 코드를 다시 입력하지 않아도 됨.

list 1에는 4가 존재함
list 2에는 4가 존재하지 않음

In [12]:
list_03 = [4, 5, 8, 9, 10] 

# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요.
# for if 문 사용 해결

# Method 1 (using count/'container')
count = 0
for j in list_03:
  if j > 8 :
    count = count + 1
print(count)

# Method 2 (code I got from google search)

sum(i>8 for i in list_03)

# numarray.which

2

2

In [31]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요
import numpy as np

h = np.array(height)
w = np.array(weight)

bmi = w/h ** 2

print(bmi)

# bmi 가 24 이상인 값들만 선택해 보세요

bmi_index = np.where(bmi >= 24) # CTS : search more info for np.where

print(bmi[bmi_index]) ### know this part! KNOW BMI questions and REVIEW.

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]
[27.88755755 28.75558507 25.48723993 25.84368152]

In [15]:
# pandas 패키지 라이브러리를 불러오세요
import pandas as pd

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
# {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
pf = {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
pref = pd.DataFrame(pf)  ### D와 F는 대문자. 조심

print(pref)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [25]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""

import pandas as pd
#################################################
#Method 1
ydr = {
    'year': [2015, 2016, 2017],
    'dept': ['Sales','Sales','Sales'],
    'revenue' : [30, 35, 40]
    }

revfig = pd.DataFrame(ydr)
revfig.index = [2015, 2016, 2017]
print(revfig)

del revfig['year']
print(revfig)

##################################################
#Method 2
ydr2 = {
    'dept': ['Sales','Sales','Sales'],
    'revenue' : [30, 35, 40]
}
revfig2 = pd.DataFrame(ydr2)
revfig2.index = [2015, 2016, 2017]

print(revfig2)
###################################################


# 2017년 데이터만 선택해 보세요
print(revfig.iloc[2])

# 조건(condition)을 활용하여 revenue 30 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html 
print(revfig[revfig['revenue']>=30])

# 조건2(condition2)을 활용하여 revenue 36 이상으로만 filter 해 보세요.
print(revfig[revfig['revenue']>=36])

      year   dept  revenue
2015  2015  Sales       30
2016  2016  Sales       35
2017  2017  Sales       40
       dept  revenue
2015  Sales       30
2016  Sales       35
2017  Sales       40
       dept  revenue
2015  Sales       30
2016  Sales       35
2017  Sales       40
dept       Sales
revenue       40
Name: 2017, dtype: object
       dept  revenue
2015  Sales       30
2016  Sales       35
2017  Sales       40
       dept  revenue
2017  Sales       40

In [26]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요 

import pandas as pd
titanic = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
print(titanic)

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

In [36]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 
print(titanic.shape)

# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요
print(titanic.iloc[9:20])

# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요
SASR = titanic[['Survived','Age','Sex']]
print(SASR)

# 타이타닉 데이터에서 생존자 데이터만 골라보세요

surv = titanic[titanic['Survived'].isin([1])]
print(surv)
### print(titanic[titanic['Survived'] == 1]) #진환님 코드

# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
male = surv[surv['Sex'] == 'male']
female = surv[surv['Sex'] == 'female']

##진환님 코드 (there are multiple ways of solving a problem)
surv['Sex'].value_counts() #will display counted number by gender.

#my code : will print a line which one has a larger value than the other. 
Number_Of_Male = len(male)
Number_Of_Female = len(female)

if Number_Of_Male > Number_Of_Female:
  print("남자 생존자 데이터가 더 많다")
elif Number_Of_Female > Number_Of_Male:
  print("여자 생존자 데이터가 더 많다")

(887, 8)
    Survived  Pclass  ... Parents/Children Aboard     Fare
9          1       2  ...                       0  30.0708
10         1       3  ...                       1  16.7000
11         1       1  ...                       0  26.5500
12         0       3  ...                       0   8.0500
13         0       3  ...                       5  31.2750
14         0       3  ...                       0   7.8542
15         1       2  ...                       0  16.0000
16         0       3  ...                       1  29.1250
17         1       2  ...                       0  13.0000
18         0       3  ...                       0  18.0000
19         1       3  ...                       0   7.2250

[11 rows x 8 columns]
     Survived   Age     Sex
0           0  22.0    male
1           1  38.0  female
2           1  26.0  female
3           1  35.0  female
4           0  35.0    male
..        ...   ...     ...
882         0  27.0    male
883         1  19.0  female
884         0   7.0  female
885         1  26.0    male
886         0  32.0    male

[887 rows x 3 columns]
     Survived  Pclass  ... Parents/Children Aboard     Fare
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
8           1       3  ...                       2  11.1333
9           1       2  ...                       0  30.0708
..        ...     ...  ...                     ...      ...
871         1       3  ...                       0   7.2250
875         1       1  ...                       1  83.1583
876         1       2  ...                       1  26.0000
883         1       1  ...                       0  30.0000
885         1       1  ...                       0  30.0000

[342 rows x 8 columns]
여자 생존자 데이터가 더 많다