<a href="https://colab.research.google.com/github/jingwoo4710/ds-admission-challenge/blob/master/ds_bootcamp_admission_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [2]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

# List의 index 이해하기.
print(list_01[1])

John

In [3]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George']]

#List의 index 이해하기 2. 
print(list_02[0][1])

John

In [17]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 

# for loop을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요
check_list = []
for element in list_01:
  if element == 4:
    check_list.append(True)
print('4의 개수:', len(check_list))

  
check_list = []
for element in list_02:
  if element == 4:
    check_list.append(True)
print('4의 개수:', len(check_list))

4의 개수: 1
4의 개수: 0

In [19]:
# 위 코드 역할을 하는 함수를 작성해 보세요.
def check_4 (my_list):
  check_list = []
  for element in my_list:
    if element == 4:
      check_list.append(True)
  print('4의 개수:', len(check_list))

In [22]:
list_03 = [4, 5, 8, 9, 10] 
# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요. 

filterd = [x for x in list_03 if x > 8]

print('8보다 큰 숫자의 개수:', len(filterd))

8보다 큰 숫자의 개수: 2

In [24]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요
import numpy as np

h = np.array(height)
w = np.array(weight)
bmi =  w / h ** 2
# bmi 가 24 이상인 값들만 선택해 보세요
bmi[bmi >= 24]

array([27.88755755, 28.75558507, 25.48723993, 25.84368152])

In [27]:
# pandas 패키지 라이브러리를 불러오세요
import pandas as pd

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
dic = {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
df = pd.DataFrame(dic)
print(df)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [36]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""
import pandas as pd
dic = {'dept':['Sales', 'Sales', 'Sales'], 
       'revenue':[30, 35, 40]}

df = pd.DataFrame(dic, index=[2015, 2016, 2017])
print(df)
# 2017년 데이터만 선택해 보세요
print(df.iloc[2])
print(df.loc[2017])

# 조건(condition)을 활용하여 revenue 30 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html

       dept  revenue
2015  Sales       30
2016  Sales       35
2017  Sales       40
dept       Sales
revenue       40
Name: 2017, dtype: object
dept       Sales
revenue       40
Name: 2017, dtype: object

In [37]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요 
import pandas as pd

titanic = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

In [54]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 
titanic.shape
# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요
titanic.iloc[9:20]
# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요
titanic[['Age','Survived','Sex']]
# 타이타닉 데이터에서 생존자 데이터만 골라보세요
titanic[titanic['Survived'] == 1]
# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
s = titanic[titanic['Survived'] == 1]
s['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64