<a href="https://colab.research.google.com/github/lovelyohyeah/ds-admission-challenge/blob/master/ds_bootcamp_admission_challenge_ipynb_200903.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [67]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

print(list_01[1]) # list_01의 두번째 요소의 인덱스는 1, 인덱스 1인 요소의 값을 출력

John

In [68]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George']]

print(list_02[0][1]) # list의 첫번째 element로 list가 들어가있는 구조-> 1번째 element 안의 2번째 element를 찾아가도록 괄호 두개를 사용한다.

John

In [69]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 

# for loop을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요
chk = 0 # 4가 있는지 체크할 때 사용할 변수 선언/초기화
#list_01 
for list in list_01:  #list_01의 원소 갯수만큼 반복하여 아래 작업 수행
   if list == 4:      #만약 element가 4일 때
     chk = 1          #chk에 1을 대입

if chk == 1:          #만약 chk가 1이면 "4 is in list_01"출력하고 아닌 경우 "4 is NOT in list_01" 출력
  print("4 is in list_01!")
else:
  print("4 is NOT in list_01!")

chk = 0               # chk 변수 0으로 초기화
  
#list_02
for list in list_02:  
  if list == 4:
    chk = 1

if chk == 1:
  print("4 is in list_02!")
else:
  print("4 is NOT in list_02!")

4 is in list_01!
4 is NOT in list_02!

In [70]:
# 위 코드 역할을 하는 함수를 작성해 보세요.

# for문 사용
def chklist(list):    
  chk = 0             
  for i in list:      
    if i == 4:
        chk = 1

  if chk == 1:
    print("4 is in the list!")
  else:
    print("4 is NOT in the list!")  
  

chklist(list_02)


#번외) range 함수 이용

def chklist_01(list):
  chk = 0
  for i in range(len(list)):  #리스트의 길이(len)를 구해서 그만큼(range) for문을 반복
    if list[i] == 4:
        chk = 1

  if chk == 1:
    print("4 is in the list!")
  else:
    print("4 is NOT in the list!")  

chklist_01(list_02)

4 is NOT in the list!
4 is NOT in the list!

In [71]:
list_03 = [4, 5, 8, 9, 10] 
# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요. 

def chklist_02(listname):
  chk = 0 
  for list in listname:
    if list > 8:
        chk = chk + 1
    else:
        chk = chk
  return chk

print("8보다 큰 숫자는 %d개 입니다." % chklist_02(list_03))


# for문을 사용하지 않고 출력하는 함수로 만들어보기 / numpy.where 활용

import numpy as np                # numpy 불러오기
np_list_03 = np.array(list_03)    # list_03을 numpy array로 변경하여 np_list_03에 대입

print(len(np.where(np_list_03 > 8)[0]))  # np_list_03의 element 중 8보다 큰 원소의 개수를 구하여 출력

8보다 큰 숫자는 2개 입니다.
2

##numpy.where(condition[, x, y])
Return elements chosen from x or y depending on condition.
####Parameters
#####condition: array_like, bool (Where True, yield x, otherwise yield y.)
#####x, y: array_like(Values from which to choose. x, y and condition need to be broadcastable to some shape.)
####Returns
ndarray: An array with elements from x where condition is True, and elements from y elsewhere.

In [72]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요
# bmi 가 24 이상인 값들만 선택해 보세요

import numpy as np
np_height = np.array(height)
np_weight = np.array(weight)

bmi = np_weight / np_height ** 2

# bmi 가 24 이상인 값들만 선택해 보세요
cond = bmi > 24   # 조건을 변수로 만들기

print(bmi[cond])  # 조건에 맞는 element 출력

# numy.where 이용해보기
print(bmi[np.where(bmi > 24)])  # np.where로 조건 설정해서 바로 출력


# np.where로 선택한 데이터 출력하기 (오답)
#for i in range(len(np.where(bmi > 24)[0])):
#  print(bmi[np.where(bmi > 8)[0][i]])

[27.88755755 28.75558507 25.48723993 25.84368152]
[27.88755755 28.75558507 25.48723993 25.84368152]

In [73]:
# pandas 패키지 라이브러리를 불러오세요
import pandas as pd

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
# {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
data_01 = {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
df_01 = pd.DataFrame(data_01)
print(df_01)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [74]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""

data_02 = {'dept' : ['sales', 'sales', 'sales'], 
           'revenue' : [30, 35, 40]}
df_02 = pd.DataFrame(data_02, index = [2015, 2016, 2017])
print('* dataframe 생성')
print(df_02)

# 2017년 데이터만 선택해 보세요 
print('\n * 2017년 데이터')
print(df_02.loc[2017])
#print(df_02.iloc[2]) #iloc으로 출력 (loc: 값(위치)기준, iloc: 인덱스(순서) 기준)

# 조건(condition)을 활용하여 revenue 30 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html 
print('\n * revenue > 30')
print(df_02.loc[df_02['revenue']>30])

* dataframe 생성
       dept  revenue
2015  sales       30
2016  sales       35
2017  sales       40

 * 2017년 데이터
dept       sales
revenue       40
Name: 2017, dtype: object

 * revenue > 30
       dept  revenue
2016  sales       35
2017  sales       40

In [75]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요 

df_03 = pd.read_csv("https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv")
print(df_03)

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

In [125]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 
print("* shape:", df_03.shape)

# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요
print("\n* 10~20번째 줄 출력")
print(df_03.iloc[9:20])

# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요
print("\n* 'Survived', 'Age', 'Sex' 칼럼 데이터")
print(df_03[["Survived", "Age", "Sex"]])

# 타이타닉 데이터에서 생존자 데이터만 골라보세요
print("\n* 생존자 데이터")
print(df_03.loc[df_03["Survived"] == 1,"Sex"])




# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
surv = df_03[df_03["Survived"] == 1]

#len 활용
surv_m = len(surv[surv["Sex"] == "male"])
surv_f = len(surv[surv["Sex"] == "female"])
if surv_m > surv_f:
  print("생존자는 남자가 더 많습니다.")
else:
  if surv_m < surv_f:
    print("생존자는 여자가 더 많습니다.")
  else:
   print("생존자의 남녀 비율이 같습니다.")


#value.counts() 활용
data = df_03.loc[df_03["Survived"] == 1, "Sex"].value_counts() # "Sex"가 인덱스역할을 하게 됨
gap = data["male"] - data["female"]

if gap > 0:
  print("생존자는 남자가 더 많습니다.")
else:
  if gap < 0:
    print("생존자는 여자가 더 많습니다.")
  else:
   print("생존자의 남녀 비율이 같습니다.")


#1차 제출본
# data = df_03.loc[df_03["Survived"] == 1, "Sex"].value_counts()
# print("\n* 생존자 데이터 중 많은 성별")
# if data[0]-data[1] > 0:
#   print(data[:1])
# else:
#   print(data[1:2])


# condition = "df_03['Survived'] == 1 & df_03['Sex'] == 'female'"
# df_03.loc[df_03['Survived'] == 1 & df_03['Sex'] == 'female']
# #print(len(df_03.loc[condition, "Sex"]))

#print(surv[surv["Sex"] == "male"].value_counts())

* shape: (887, 8)

* 10~20번째 줄 출력
    Survived  Pclass  ... Parents/Children Aboard     Fare
9          1       2  ...                       0  30.0708
10         1       3  ...                       1  16.7000
11         1       1  ...                       0  26.5500
12         0       3  ...                       0   8.0500
13         0       3  ...                       5  31.2750
14         0       3  ...                       0   7.8542
15         1       2  ...                       0  16.0000
16         0       3  ...                       1  29.1250
17         1       2  ...                       0  13.0000
18         0       3  ...                       0  18.0000
19         1       3  ...                       0   7.2250

[11 rows x 8 columns]

* 'Survived', 'Age', 'Sex' 칼럼 데이터
     Survived   Age     Sex
0           0  22.0    male
1           1  38.0  female
2           1  26.0  female
3           1  35.0  female
4           0  35.0    male
..        ...   ...     ...
882         0  27.0    male
883         1  19.0  female
884         0   7.0  female
885         1  26.0    male
886         0  32.0    male

[887 rows x 3 columns]

* 생존자 데이터
1      female
2      female
3      female
8      female
9      female
        ...
871    female
875    female
876    female
883    female
885      male
Name: Sex, Length: 342, dtype: object
생존자는 여자가 더 많습니다.

생존자는 여자가 더 많습니다.