<a href="https://colab.research.google.com/github/inthemingcha/ds-admission-challenge/blob/master/%EA%B9%80%EB%AF%BC%EC%B1%84_200903_ds_bootcamp_admission_challenge_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge

- 코드스테이츠 DS 부트캠프 어드미션을 위한 Challenge 과제 입니다. 
- 아래 challenge 를 풀기 위해 제공된 강의가 모든 것을 알려주진 않습니다. 
- 따라서 필요한 부분은 스스로 google 검색을 통해 이 challenge 를 완성해 주셔야 합니다. 
- 각 shell 에 필요한 부분을 작성하신 후 함께 링크를 제출해 주시면 됩니다.
- 모든 결과물은 하나의 shell에서 모두 실행될 수 있도록 print문을 사용해 주세요. run all 했을 때 전체 shell 이 모두 잘 실행될 수 있도록 관리해 주세요.

In [ ]:
# 1. 다음의 list 에서 두 번째 list elemnet 를 print 해 보세요
list_01 = ['Paul', 'John', 'Ringo', 'George']

#Slice 기능 물어보는 문제
print(list_01[1])

John

In [ ]:
# 2. 다음의 list in the list에서 두 번째 element 를 print 해 보세요
list_02 = [['Paul', 'John', 'Ringo', 'George']]

# Double list에서 Slice 적용하기 문제/ Indexing?
# 아직 indexing과 slice 구별 못하겠음.
print(list_02[0][1])

John

In [35]:
# Initializing list  
list_01 = [ 1, 6, 3, 5, 3, 4 ] 
list_02 = [ 1, 6, 3, 5, 3 ] 
 
# for loop을 이용하여 두 개의 리스트 안에 4가 있는지 없는지 print 하는 코드를 작성하세요
# 처음 사전과제 받았을 땐 한꺼번에 두 개의 리스트를 합쳐서 for문을 해야하는줄 알았는데 아니었다.

for i in list_01:
  if i==4 in list_01:
    print("4 존재")
  else:
    print("부존재")


for i in list_02:
  if i==4 in list_02:
    print("4 존재")
  else:
    print("부존재")

#....? 응? 왜 이렇게 다 모든 요소를 하나하나씩 확인하지..?

부존재
부존재
부존재
부존재
부존재
4 존재
부존재
부존재
부존재
부존재
부존재

In [40]:
# 위 코드 역할을 하는 함수를 작성해 보세요
def my_function() :
  for i in list:
    if i ==4 in () :
      print("4 존재")
    else :
      print("부존재")

#my_function(list_01)
#my_function(list_02)
#error... 나머지 공부

In [ ]:
list_03 = [4, 5, 8, 9, 10] 
# 위 list element 중 8보다 큰 숫자가 몇 개가 있는지 코드로 작성해 보세요. 
# len 적용해보기

M = [i for i in list_03 if i > 8 ]
print(len(M))

2

In [ ]:
# BMI
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# bmi = weight / height ** 2 를 numpy array 활용하여 구해보세요
# numpy array 적용하기 문제
import numpy as np
np_height = np.array(height)
np_weight = np.array(weight)
bmi = np_weight / np_height **2
print(bmi)

# bmi 가 24 이상인 값들만 선택해 보세요
cond = bmi > 24
print(bmi[cond])

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]
[27.88755755 28.75558507 25.48723993 25.84368152]

In [ ]:
# pandas 패키지 라이브러리를 불러오세요
import pandas as pd

# 아래 내용을 담는 pandas Dataframe 을 생성하세요
# {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
data_brics = {'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}
pd.DataFrame(data_brics)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [24]:
# 아래와 같은 dataframe을 만들어 보세요. (참고: 연도가 index가 되게 해 주세요)
"""
year dept     revenue
2015 Sales    30
2016 Sales    35
2017 Sales    40
"""

import pandas as pd
data_new = {'year':['2015', '2016', '2017'], 'dept':['Sales', 'Sales', 'Sales'], 'revenue':['30', '35', '40']}
brics = pd.DataFrame(data_new)
print(brics)

# 2017년 데이터만 선택해 보세요
#brics.loc['2017']
#왜 자꾸 error가 나지. 나머지 공부..


# 조건(condition)을 활용하여 revenue 30 이상으로만 filter 해 보세요. reference: https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html 
# cond = revenue >= 30
brics[brics["revenue"] >= "30"]

   year   dept revenue
0  2015  Sales      30
1  2016  Sales      35
2  2017  Sales      40

   year   dept revenue
0  2015  Sales      30
1  2016  Sales      35
2  2017  Sales      40

In [ ]:
# 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' 자료를 불러와 dataframe으로 만들어 보세요 

import pandas as pd
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
print(df)

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

In [26]:
# 타이타닉 데이터의 shape은 어떻게 되나요? 
print(df.shape)

# 타이타닉 row record에서 10~20번째 줄을 출력해 보세요
print(df.iloc[10:21])

# 타이타닉 데이터에서 'Survived', 'Age', 'Sex' 칼럼 데이터를 선택해 보세요
df[['Survived', 'Age', 'Sex']]

# 타이타닉 데이터에서 생존자 데이터만 골라보세요
survivor = df['Survived'] == 1
df[survivor]

# 생존자 데이터 중 여자, 남자 중 누가 더 많나요? 참고: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
survivor.value_counts('Sex')
# 나머지 공부용..

(887, 8)
    Survived  Pclass  ... Parents/Children Aboard     Fare
10         1       3  ...                       1  16.7000
11         1       1  ...                       0  26.5500
12         0       3  ...                       0   8.0500
13         0       3  ...                       5  31.2750
14         0       3  ...                       0   7.8542
15         1       2  ...                       0  16.0000
16         0       3  ...                       1  29.1250
17         1       2  ...                       0  13.0000
18         0       3  ...                       0  18.0000
19         1       3  ...                       0   7.2250
20         0       2  ...                       0  26.0000

[11 rows x 8 columns]

False    0.614431
True     0.385569
Name: Survived, dtype: float64